
/** Page */		

h1 {
	margin: 0;
}

p.tagline { 
	float: left;
	position: relative;
	left: 110px;
	top: -6px;
	font-size: 90%;
	color: #888;
	margin: 0;
}

p.tagline a { 
	color: #3168a8;
}

div.primary {
	float: left;
}

/** Filter */
.filter {
	position: absolute;
	top: 2.5em;
	left: 34%;
	width: 30%;
	margin: 0;
	text-align: right;
}

.filter h2 {
	display: inline;
	margin-right: .5em;
}

.filter input {
	position: relative;
	top: -4px;
	width: 8em;
}

/** Preview */
.preview {
	position: absolute;
	top: .91em;
	left: 70%;
	width: 25%;

}

.preview h2 {
	float: right;
	position: relative;
	right: 85px;
}
.preview #preview {
	float: right;
	height: 64px;
	width: 64px;
	padding: 4px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: bottom;
	color: #555;
	
	position: relative;
	left: 80px;
}

/** Icons */
ol {
	margin: 1em 0 2em;
	padding: 20px 0 4em;
}

ol li {
	list-style: none;	
	display: inline;
	float: left;
	margin: 0;
	padding: 0 3px 0 0;
}

ol li img {
	border: 1px solid #eee;
	padding: 2px;
	width: 16px;
	height: 16px;
}

a#morelink {
	margin-right: 5px;
}