
/** Filter */
.filter {
}

.filter h2 {
}

.filter input {
	position: relative;
	top: -4px;
	width: 8em;
}

/** Preview */
.preview {

}

.preview h2 {
    margin-left: 60px;
}
.preview #preview {
	height: 64px;
	float: left;
	width: 64px;
	padding: 4px;
	border: 1px solid #ddd;
	text-align: center;
	vertical-align: bottom;
	color: #ccc;
	
	position: relative;
	left: 180px;
	top: -30px;
}

/** Icons */

div#iconSelector {
    float: left;
    width: 100%;
    padding: 0 0 40px 0;
}

ol {
	margin: 1em 0 2em;
	padding: 20px 0 4em;
}

ol li {
	list-style: none;	
	display: inline;
	float: left;
	margin: 0;
}

ol li a {
    display: block;
    float: left;
    padding: 2px;
}

ol li a:hover {
    background: none;
}

ol li img {
	border: 1px solid #eee;
	padding: 2px;
	width: 16px;
	height: 16px;
	float: left;
}

ol li a:hover img {
     border: 1px solid #0063DC;
     background: #eee;   
}