

#compilation {



    width: 45em;

    border-collapse: collapse;

    border: 1px solid #767;

    color: #223;

    font-size: .9em;

}



#compilation caption {

    margin: 0 0 0 -1px;

    padding: .25em 2em;

    border: 1px solid #767;

    background: url(/admin/img/icons/users.gif) .5em .25em no-repeat #cFdBd5;

    font-size: 1.5em;

    text-align: left;

}



#compilation col {

    border-right: 1px solid #ddc;

}



#compilation col.firstname { width: 15em }

#compilation col.lastname { width: 15em }

#compilation col.options {

    width: 5em;

    text-align: center;

    border-right: 1px solid #767;

}



#compilation tr {}



#compilation thead th {

    padding: 2px 10px;



    color: #345;

    background: #DFEBE5;

    border-bottom: 1px solid #778;



    letter-spacing: 1px;

    text-align: left;

}



#compilation tfoot td {



    padding: 4px 0;

    background: #DFEBE5;

    text-align: center;

    font-size: .8em;

}



#compilation tbody {



    font-family: verdana;

    font-size: .8em

}



#compilation tbody tr td {

    padding: 4px 10px;

    background: #fff;

    border-bottom: 1px solid #aab;

}



#compilation tbody tr.zebra td {

    background: #F5F5ED;

}



#compilation tbody tr:hover td,
#compilation tbody tr.hover td {

    border-bottom: 1px solid #667;

    background: #EBECAC;

    color: #000;

}

#compilation tbody tr.highlight td {

	border-bottom: 1px solid #445;

    background: #B5DFBF;

    color: #000;
}



#compilation tbody tr td a {

    color: #B91F1F;

    font-size: .9em;

    display: block;

    text-align: center;

}