---
layout: default
title: David Singleton
body_class: home
---

<article>
    <p>My name is David and I like to make <strong>things</strong>. Mostly on the web, but sometimes with paper, pens or potatoes.</p>

    <p>I also like to write about my passions; <a href="/blog">technology</a>, <a href="http://last.fm/user/underpangs">music</a>, and <a href="http://munchmun.ch">food</a>, that sort of thing.</p>
    
    <p>
    Recently i've written about&hellip;
    {% for post in site.posts limit:5 %}
        {% if forloop.last == true %} &amp; {% endif %}
        <a href="{{ post.url }}">
            {{ post.title }}</a>{% if forloop.last == false %}, {% endif %}{% if forloop.last == true %}.{% endif %}
    {% endfor %}
    or read some <a href="/blog">older posts</a>.</p>
    
</article>

<aside>
    <h2>Get in touch</h2>
    
    <p>You can contact me via <a href="mailto:david@dsingleton.co.uk" class="email">david@dsingleton.co.uk</a> or <a href="http://twitter.com/?status=@dsingleton">@dsingleton</a> me on Twitter.</p>
    
    <p>Find me on&hellip;
        <a href="http://last.fm/user/underpangs/" rel="me">Last.fm</a>
        <a href="http://twitter.com/dsingleton/" rel="me">Twitter</a>,
        <a href="http://delicious.com/dsingleton/" rel="me">Delicious</a>,
        <a href="http://flickr.com/photos/davidsingleton/" rel="me">Flickr</a>,
        <a href="http://github.com/dsingleton" rel="me">Github</a> &amp;
        <a href="http://upcoming.yahoo.com/user/30794/" rel="me">Upcoming</a>.
    </p>
    
    <p>There are also some other David Singletons. You might be looking for <a href="http://www.google.com/search?q=david%20singleton%20-dsingleton.co.uk">one of them</a> instead.</p>
</article>
