
/** Document */

body {
	color: #333;
	background: #fff;

	font: small/1.4 Arial, Sans;
}

/** Headings */

h1, h2, h3, h4, h5 h6 {
	margin: .8em 0 .2em;
	font-family: Garamond, Georgia, Rekha, Serif;
	font-weight: bold;
	line-height: 1.2;
} 

h1 {
	margin: .2em 0 .2em;
	font-size: 3.5em;
	line-height: 1.2;
	color: #373737;
}			

h2 {
	font-size: 1.9em;
	letter-spacing:	-0.02em;
	color: #444;
}

h3 {
	font-size: 1.5em;
	letter-spacing:	-0.02em;
}

h4 {
	font-size: 1.2em;
}

/** */

p {
	margin: .4em 0 .8em;
	line-height: 1.6;
}

a {
	color: #1D337E
}

/** Lists */

ul, ol {
	margin: 1em 0;
	padding: 0 1em 0 .8em;
}

ul {
	list-style-type: circle;
}

ol {
	list-style-type: lower-roman;
}

li {
	margin: 0 0 0 .4em;
	padding: .1em 0 .1em .4em;
}

/** Misc */

code {
	display: block;
	margin: 1.4em 0;
	padding: 0 .8em;
	
	font: .9em/1.2 Courier, fixed;
	white-space: pre;
	
	color: #222;
	background: #F9F9F9;
	border: 1px dashed #2F6FAB;
	
	overflow: scroll;
}

blockquote {
	disply: block;
	margin: .8em 0;
	padding: 0 1em 0 2em;
	font-style: italic;
}

/** Widgets and things (Belong somewhere else?) */

p.callout {
	max-width: 220px;
	width: 100%;
	margin: .8em auto;
	padding: .5em 1em;
	border: 1px solid #2F6FAB;
	background: url(/code/_static/img/bg/green_white_vertical.jpg) top left #F9F9F9;
	color: #111;
	text-align: center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
}

p.callout a {
	padding: 0 0 0 24px;
	background: url(/code/_static/img/icons/page_white_go.png) center left no-repeat;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
}

p.code.callout a {
	background-image: url(/code/_static/img/icons/page_white_gear.png);
}

a#morelink {
	clear: both;
	float: right;
	margin: 20px 0 7px;
	padding: 7px 5px 2px 25px;
	
	font: 90%/1.1 Sans-Serif;
	font-weight: bold;

	color: #888;
	background: url(/code/_static/img/icons/asterisk_orange.png) 3px 4px no-repeat;
	text-decoration: none;
}

a#morelink:hover {
	color: #333;
}