/** Body */

body {
    margin: 0;
    padding: 2.5em 0 0;
    
    color: #333;
    background: url("/static/images/grey_to_white.png") repeat-x scroll 0 0 #fff;
    border-top: 3px solid DodgerBlue;
}


/** Header */

#page header p a.name {
    float: left;
    
    margin: -5px 25px 15px 0;
    padding: 5px 10px;
    
    color: #FFFFFF;
    background-color: DodgerBlue;
    font-size: 40px;

    text-shadow: 2px 2px 3px #666666;
    text-decoration:  none;
    
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 2px 2px 8px #666666;
    -moz-transform: rotate(-2deg);
    
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 8px #666666;
    -webkit-transform: rotate(-2deg);
}

header {
    margin: 0 0 24px;
}

header p.bio {
    font-size: 16px;
}

header p.tagline {
    border-top: 1px solid #ddd;
    display: inline-block;
    margin-top: 5px;
    padding-top: 5px;
}


/** Page */

#page {
    margin: 0 auto;
    width: 840px;
    padding-top: 0;
    padding-bottom: 72px;
    background: auto;
}

#page a {
    color: DodgerBlue;
}


/** Article */

article {
    margin: 24px 0;
    float: left;
}


article {
    width: 552px;
}

article p {
    margin: 0 0 1em 0;
}

ul.tags li, 
div.tags ul li {
    background: #eee;
    -moz-border-radius: 3px;
    display: inline-block;
    padding: 2px 5px;
    margin: 4px 2px;
    text-decoration: none;
}


/** Aside */

aside {
    float: right;
    max-width: 240px;
    color: #666;
    margin: 25px 0;
    padding: 0 0 0 20px;
    border-left: 3px solid #eee;
}

/** Footer */
footer {
    clear: both;
    border-top: 1px solid #ccc;
}

footer ul li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;

    list-style: none;
    font-size: 11px;
}

footer ul li a[href$=rss] {
    display: inline-block;
    background: url(http://img.thisismoney.co.uk/i/std/tim_skin_0309/rss.gif) center left no-repeat;
    padding: 5px 15px 5px 20px;
}

footer ul li a[href*=twitter] {
    background: url(http://twitter.com/favicon.ico) center left no-repeat;
    display: inline-block;
    
    padding: 5px 15px 5px 20px;
}


/** Elements & Misc */

dl dt {
    font-weight: bold;
    margin-top: 1em;
}

ul.hfeed {
    list-style: none;
}

ul.hfeed li {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #eee;
}

small {
	font-size: 13px;
	line-height: 18px;
}