body {
    margin: 0;
    padding: 2em 10%;
    
    color: #333333;
    background: #ffffff;
    font: 62.5% Georgia, "Times New Roman", Times, serif;
    
}

#page {
    font-size: 1.6em;
    line-height: 1.53846em;
}

#header {
    margin: 0;
    font-size: 2.5em;
    line-height: 1.4;
    border-bottom: 1px solid #CCCCCC;
}

#header p {
    margin-bottom: 1em;
}

#header p.tagline {
    margin-top: -23px;
    font-size: 0.38em;
}

#header a.fn {
    font-size: 1.5em;
}

#header a:link,
#header a:visited {
    text-decoration: none;
}

#description {
    padding: 1.75em 0;
    border-bottom: 1px solid #CCCCCC;
}

#footer {
    clear: both;
    border-top: 1px solid #ccc;
    
    font-size: 1.6em;
    margin-top: 2em;
    padding: 1em 0 2em;
}

#footer li {
    float: left;
    background: center left no-repeat;
    padding: 10px 5px;
    margin-right: 80px;
}

#footer li a {
    padding: 5px;
}

#footer li.twitter {
    background-image: url(/static/icons/twitter_50x50.jpg);
    padding-left: 55px;
}

#footer li.twitter a {
}

#footer li.feed {
    background-image: url(/static/icons/feed_28x28.png);
    padding-left: 35px;
}
