
/** Page */		

body {
    max-width: 100%;
    padding: 0px 0px 20px ;
    
}

#header {
    font-size: 1em;
    background: #0063DC;
    margin: 0 -20px;
    padding: 5px 20px 8px;
    color: #fff;
}

#header:hover {

}

#header a,
#header a:link {
    color: #fff;
    text-decoration: underline !important;
}

#header p {
    margin: 0;
}

#header:hover p.tagline {
    opacity: 1;
}

#header p.tagline {
    position: absolute;
    right: 20px;
    top: 5px;
    margin-top: 0;
    font-size: 13px;
    opacity: .5;
}

#page {
    padding: 0 20px;
}

#footer ul#selfPromotion {
    width: 600px;
    margin: 0 auto;
    opacity: .5;
}

#footer:hover ul#selfPromotion {
    opacity: 1;
}