
/*

* Some standard class names/id's for layout content
* Context sensative to body classes?

*/

body {
	width: 96%;
	min-width: 750px;
	max-width: 980px;

	margin: 0 auto 2em;
	padding: 1em 2% 3em;
}

/** Flex */

body.l-flex {
	max-width: 100%;
}

/** 1 Col */

body.l-1col div.primary {
	width: auto;
}
	

/** 2 Col */

body.l-2col div.primary {
	float: left;
	width: 60%;
}

body.l-2col div.secondary {
	float: right;
	width: 35%;
}

body.l-2col div.tertiary {
	clear: both;
}

/** 3 Col */

/** Home */

body.l-3col .content {
	float: left;
	margin-right: 3.3%;
	padding: 0;	
	width: 30%;
}

body.l-3col div.tertiary {
	width: 33.3%;
	margin-right: 0;
}
