body {
    max-width: 42em;
    margin: 0 auto;
    padding: 1em 1em 4em 1em;

    font: 19px/1.5 $text-font-stack;

    color: $text-color;
    background: $page-color;

    text-rendering: optimizeLegibility;
}

#header {
    margin: -2em 0 1.5em 0;
    padding: 1.5em 0;
    border-bottom: 2px solid $link-color;
}

#header p {
    margin: 0;
}

#header a.name {
    font-size: 1.6em;
    text-decoration: none;
}
