$font-face: "Gentium Book Basic", "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$code-font-face: "Courier New", Courier, monospace;

$text-color: #555;
$link-color: dodgerBlue;
