body {
	height: 100%;
	width: 900px;
	margin: 0 auto;
	padding: 10px 30px;
	
	font: small/1.3 Helvetica, Arial, Sans-Serif;
	background: #444;
	color: #111;
}

h1 {
	margin: 0 0 .6em;
	font: 4em/1.1 Garamond, Georgia, Serif;
	color: #80D164;
	text-align: center;
}

h2, h3 {
	margin: .2em 0	.4em;
	font-family: Garamond, Georgia, Serif ;
}

h2 {
	margin-top: 0;
}

#map {
	min-width: 70%;
	width: 60%;
	max-width: 900px;
	height: 450px;

	float: right;
	border: 3px solid #666;
}

#content {

	width: 20%;
	padding: 0 1%;
	float: left;
	
	color: #fff;
}