span.onebit_mp3 .onebit_player {
	margin-right: 2px;
}

/* Styling Examples > Simon */

ol.simon li  {
	margin: .5em 0;
}

ol.simon span.onebit_mp3 {
}

ol.simon span.onebit_mp3 a {
	text-decoration: none;
	font-weight: bold;
}

ol.simon span.onebit_player {
	border: 1px solid #444;
	margin-right: 8px;
	padding: 1px 2px 0 3px;
}

ol.simon span.onebit_mp3 a.tea {
	color: #3DB213;
}

ol.simon a.tea span.onebit_player {
	background: #263B83;
}

