 body {
    margin: 0;
    padding: 2em 4em;
    width: 600px;
    color: #333;
    background: #fff;

 	font: medium/1.4 Garamond, Georgia, Rekha, Serif, Sans;
 }

 /** Headings */

h1, h2, h3, h4, h5 h6 {
    margin: .8em 0 .2em;
    font-family: Garamond, Georgia, Rekha, Serif;
    font-weight: bold;
    line-height: 1.2;
} 

h1 {
    margin: .2em 0 .2em;
    font-size: 3.5em;
    line-height: 1.2;
    color: #373737;
}		

h2 {
    margin: 1em -.4em 0 -.4em;
    padding: .8em .4em .2em .4em;
    border-top: 1px solid #ccc;
    font-size: 1.2em;
    letter-spacing:	-0.02em;
    color: #444;
}

h3 {
    font-size: 1.5em;
    letter-spacing:	-0.02em;
}

h1 a {
    color: #222;
    text-decoration: none;
}

h1 a:hover {
    color: #000;
    text-decoration: none;
} 

ul.otherPlaces {
    margin: 0em 0 2em;
    padding: 0 0 0 0em;
}

ul.otherPlaces li {
    list-style: none;
    margin: 0;
    padding: .1em 0 .2em 25px;
    
    background: url('/_assets/img/icons/famfamfam/page.png') center left no-repeat;
}

ul.otherPlaces li.lastfm { background-image: url('http://me.dsingleton.co.uk/code/grabicon/?url=last.fm'); }
ul.otherPlaces li.flickr { background-image: url('http://me.dsingleton.co.uk/code/grabicon/?url=flickr.com'); }
ul.otherPlaces li.upcoming { background-image: url('http://me.dsingleton.co.uk/code/grabicon/?url=upcoming.orgxxx'); }
ul.otherPlaces li.twitter { background-image: url('http://me.dsingleton.co.uk/code/grabicon/?url=twitter.com'); }
ul.otherPlaces li.delicious { background-image: url('http://me.dsingleton.co.uk/code/grabicon/?url=del.icio.us'); }
