h1 {
    margin: -.3em -.5em 0;
    padding: .3em .5em .2em;
    color: #fff;
    background: #666;
    border-bottom: 6px solid #333;
}

h1 a {
	color: #fff;
	text-decoration: none;
}

h1 a img {
	position: relative;
	top: 3px;
	margin-right: 5px;
	border: 1px solid #999;
}

div.toread ol {
    list-style: decimal-leading-zero;
}

div.toread ol li {
    position: relative;
    margin: 0;
    padding: 1.2em 0 .75em 20px;
    
    border-bottom: 2px solid #ccc;
}

div.toread ol h3 {
    margin: 0 0 0 2px;
}

div.toread ol h3 a {
    padding: .1em .2em .2em .2em;
}

div.toread ol h3 a:hover {
    color :#fff;
    background: #4C5099;
}

a.deliciousEdit {
    position: absolute;
    top: 18px;
    left: 1px;
}

a.markRead {
    position: absolute;
    top: 44px;
    left: 1px;
}

a.manage img {
    border: none;
}

div.toread ul.tags {
    margin: 1px 0 0 0;
    padding: 0;
}

div.toread ul.tags li {
    margin: 0 .2em;
    padding: 0;
    display: inline;
    border: none;
}

div.toread ul.tags li a {
    padding: .1em .2em .3em .2em;
    color: #666;
}

div.toread ul.tags li a:hover {
    color: #fff;
    background: #7279EC;
}