body {
	margin: 0;
	padding: 0 0 100px 0;
	color: #222;
	background: #fff;

	font: large/1.2 Serif;
	text-align: center;
}

/* Top Bar **/

#header {
	margin: 0 0 70px 0;
	padding: .7em 30px 1em;
	background: #eef;
	border-bottom: 2px solid #dde;
	
	color: #778;
	font-size: 65%;
	font-family: verdana;
	text-align: left;
}

#header img.icon {
	position: relative;
	float: left;

	margin: 1px .8em 0 0;
	border: 1px solid #667;
}

#header span.user a {
	position: relative;
	top: 3px;
	margin: 0;
	font-weight: bold;
}

/* Search Form **/

#header form.search {
	position: absolute;
	top: .6em;
	right: 30px;
	vertical-align: middle;
}

#header form.search input.text {
	margin: 0 3px;
	border: 1px solid #aab;
	width: 12em;
	height: 1.2em;
}

/* Feedback **/

p {
	font-size: 1.2em;
}

/* Tag Cloud */

ol {
	width: 700px;
	margin: 0 auto;
	
	list-style: none;
	text-align: center;
	
	font-size: .6em;
}

li {
	display: inline; 
	margin: 0 .2em;
	padding: 0 .3em;

	line-height: 1.5;
	vertical-align: middle;
}

li span {
	position: absolute;
	left: -999px;
	width: 990px;
}

a {
	text-decoration: none;
	color: #445599;
	white-space: nowrap
}

a:hover {
	text-decoration: underline;
}

/** Audioscrobbler Credit Icon */

img#as_credit {
	position: absolute;
	bottom: 5px;
	right: 5px;
	border: none;
}

a#bloglink {
	position: absolute;
	bottom: 5px;
	left: 5px;
	padding: 7px 5px 2px 25px;
	
	font: 65%/1.1 Sans-Serif;
	font-weight: bold;

	color: #888;
	background: url(/code/_static/img/icons/asterisk_orange.png) 3px 4px no-repeat;
}

a#bloglink:hover {
	color: #333;
	text-decoration: none;
}